:root {
  --black: #000000;
  --offblack: #212529;
  --gray: #4c4c4c;
  --white: #ffffff;
  --offwhite: #f8f9fa;
  --secondary-color: #0070bb;
  --lightgray: #dee2e6;
}

/* Homepage */
.heading-container {
  margin-top: 200px;
}
h4.intro {
  color: var(--secondary-color);
}
h1.name {
  font-size: 60px;
}
.description {
  text-align: center;
}

h5.contact-me {
  display: inline;
  vertical-align: top;
}
.underline {
  border-bottom: 2px solid var(--secondary-color);
}
.home-logo {
  font-size: 30px;
  color: var(--offblack);
}
.home-logo:hover {
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

.gallery-container {
  margin-top: 250px;
}
.enhance-img {
  transition: transform 0.2s;
}
.enhance-img:hover {
  transform: scale(1.02);
}

.contact-btn {
  border-radius: 4px;
  padding: 15px 20px;
  color: var(--white);
  background-color: var(--offblack);
  border: none;
}
.contact-btn:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: white;
  transition: all 100ms ease-in-out;
}

/* Properties gallery */
.cropped {
  max-height: 500px;
  object-fit: cover;
}
.dark-overlay:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.4;
  z-index: 1;
}
.carousel-caption {
  z-index: 2;
}
.carousel-head {
  font-size: 50px;
}

/* Experience page */
.experience-description {
  padding: 0 60px;
}

.footer-container {
  background-color: var(--offwhite);
  padding: 48px;
}

.close {
  font-size: 1.5rem;
}

.col-12 img {
  cursor: pointer;
  width: 100%;
}

/* Contact page */
.contact-content,
.experience-content {
  margin-top: 110px;
}

.contact-card {
  padding: 75px 25px;
  max-width: 600px;
  width: auto;
  margin: 0 60px;
}

.contact-line,
.c-logo {
  font-size: 15px;
}

.vr {
  border-left: 1px solid var(--lightgray);
}

.contact-link {
  color: var(--secondary-color);
}
.contact-link:hover {
  color: var(--offblack);
  transition: all 100ms ease-in-out;
}

@media (max-width: 767px) {
  h4 {
    font-size: 20px;
  }
  h1 {
    font-size: 40px !important;
  }
  h2.carousel-head {
    font-size: 30px;
    padding-top: 40px;
  }
  h5.carousel-description {
    font-size: 15px;
  }
  .footer-container {
    padding: 20px;
  }
  .footer-head {
    font-size: 20px;
  }
  .contact-btn {
    margin-top: 10px;
    font-size: 12px;
    padding: 10px 15px;
  }
  .contact-name,
  .contact-description {
    text-align: center;
  }
  .contact-info {
    margin-top: 10px;
  }
}
